.truckImages {
    height: 45vh; 
  }
  
  .truckBg {
    background-color: #bfc9cd; 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 25px;
  }
  
  .infoContainer {
    margin-left: 15px;
    font-size: 18px;
    max-width: 60%;
    margin-top: 10px;
  }